<div data-controller="theme" class="text-center flex flex-col space-y-8">
  <% sections.each do |section| %>
    <hr class="border-gray-300 dark:border-gray-700">
    <h2 class="flex gap-2 justify-center <%= section.h2_class %>">
      <% section_title_words(section).each_with_index do |word, i| %>
        <span class="<%= color_for(section.title_colors, i) %>"><%= word %></span>
      <% end %>
      -
      <% section_desc_words(section).each_with_index do |word, i| %>
        <span class="<%= color_for(section.desc_colors, i) %> opacity-85 italic"><%= word %></span>
      <% end %>
    </h2>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <% section.themes.each do |theme| %>
        <%= render(Settings::ThemeItemComponent.new(theme: theme, selected: theme.id == current_theme)) %>
      <% end %>
    </div>
  <% end %>
</div>
