<div data-controller="theme" class="text-center flex flex-col space-y-8">
  <hr class="border-gray-300 dark:border-gray-700 text-white">
  <h2 class="flex gap-2 justify-center">
    <span class="text-purple-500">Tech</span>
    <span class="text-cyan-500">Edge</span>
    -
    <span class="text-pink-500 opacity-85 italic">Modern</span>
    <span class="text-slate-400 dark:text-slate-300 ">and</span>
    <span class="text-blue-500 opacity-85 italic">sharp</span>
  </h2>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <% THEMES_TECH_EDGE.each do |theme| %>
      <%= render(Settings::ThemeItemComponent.new(theme: theme, selected: theme.id == current_theme)) %>
    <% end %>
  </div>
  <hr class="border-gray-300 dark:border-gray-700">
  <h2 class="flex gap-2 justify-center text-white">
    <span class="text-emerald-500">Serene</span>
    -
    <span class="text-cyan-500 opacity-85 italic">Calm</span>
    <span class="text-slate-400 dark:text-slate-300 ">and</span>
    <span class="text-yellow-500 opacity-85 italic">balance</span>
  </h2>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <% THEMES_SERENE.each do |theme| %>
      <%= render(Settings::ThemeItemComponent.new(theme: theme, selected: theme.id == current_theme)) %>
    <% end %>
  </div>
  <hr class="border-gray-300 dark:border-gray-700">
  <h2 class="flex gap-2 justify-center">
    <span class="text-sky-500">Cosmic</span>
    -
    <span class="text-fuchsia-500 opacity-85 italic">Futuristic</span>
    <span class="text-slate-400 dark:text-slate-300 ">and</span>
    <span class="text-orange-500 opacity-85 italic">spatial</span>
  </h2>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <% THEMES_COSMIC.each do |theme| %>
      <%= render(Settings::ThemeItemComponent.new(theme: theme, selected: theme.id == current_theme)) %>
    <% end %>
  </div>
  <hr class="border-gray-300 dark:border-gray-700">
  <h2 class="flex gap-2 justify-center">
    <span class="text-red-500">Vivid</span>
    -
    <span class="text-lime-500 opacity-85 italic">Bold</span>
    <span class="text-slate-400 dark:text-slate-300 ">and</span>
    <span class="text-pink-500 opacity-85 italic">energetic</span>
  </h2>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <% THEMES_VIVID.each do |theme| %>
      <%= render(Settings::ThemeItemComponent.new(theme: theme, selected: theme.id == current_theme)) %>
    <% end %>
  </div>
  <hr class="border-gray-300 dark:border-gray-700">
  <h2 class="flex gap-2 justify-center">
    <span class="text-orange-500">Night</span>
    <span class="text-amber-500">owl</span>
    -
    <span class="text-yellow-500 opacity-85 italic">Warm</span>
    <span class="text-slate-400 dark:text-slate-300 ">and</span>
    <span class="text-rose-500 opacity-85 italic">cozy</span>
  </h2>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <% THEMES_NIGHT_OWL.each do |theme| %>
      <%= render(Settings::ThemeItemComponent.new(theme: theme, selected: theme.id == current_theme)) %>
    <% end %>
  </div>
</div>
