<div class="w-full">
  <div class="flex justify-between items-center pb-2">
    <h1 class="text-xl font-semibold">Tickets</h1>
    <%= render(Core::LinkComponent.new(name: "Add ticket", url: new_support_ticket_path, options: {data: {turbo_frame: "modal"}, custom_style: {style: :as_button, theme: :create, size: :sm}})) %>
  </div>
  <%= turbo_stream_from "tickets" %>
  <%= render Core::CardComponent.new({padding: :none}) do %>
    <div class="flex p-4 gap-4">
      <%= render Core::TableComponent.new(
            rows: @tickets,
            columns: [
              {label: "Title"},
              {label: "Category"},
              {label: "Description"},
              {label: "Status"},
              {label: "Actions"}
            ],
            options: {ids: {tbody: "tickets"}}
          ) do %>
        <% @tickets.each_with_index do |ticket, index| %>
          <%= render "ticket_table", ticket: ticket, index: index %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
