<div id="<%= dom_id ticket, "admin" %>" class="space-y-4">
  <!-- Top Row: Info and Notes -->
  <div class="flex space-x-2">
    <%= render(Core::CardComponent.new(classes: "basis-1/2 flex flex-col overflow-y-auto space-y-4")) do %>
      <%= render Adminit::TicketInfoComponent.new(ticket: ticket) %>
      <h3 class="font-bold leading-tight">
        <%= ticket.title %>
      </h3>
      <p class="leading-relaxed">
        <%= ticket.description %>
      </p>
      <%= render Support::AttachmentsComponent.new(ticket: ticket, show_upload_form: false) %>
    <% end %>

    <%= render(Core::CardComponent.new(classes: "basis-1/2 flex flex-col overflow-hidden")) do %>
      <%= render Support::NotesComponent.new(ticket: ticket, notes: @notes) %>
    <% end %>
  </div>

  <!-- Bottom Row: Description/Attachments and Conversation -->
    <div class="space-y-6">
      <%= render(Core::CardComponent.new(variant: :glass, glow: true, classes: "space-y-4")) do %>
        <%= render Support::ConversationComponent.new(
              conversation: @conversation,
              messages: @messages
            ) do %>
          <% if allowed_to?(:update?, ticket, with: Adminit::TicketPolicy) %>
            <%= render "support/conversations/message_form", ticket: ticket %>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>
