<div class="w-full">
  <div class="flex justify-between items-center pb-2">
    <%= link_to t("adminit.tickets.back_to_tickets"), adminit_tickets_path, class: "text-indigo-500" %>
    <div class="flex gap-2 items-center px-4">
      <%= render(Core::LinkComponent.new(name: t("views.shared.edit"), url: edit_adminit_ticket_path(@ticket), style: :as_button, theme: :edit, size: :sm, html_options: {data: {turbo_frame: "modal"}})) %>
      <% if @ticket.assigned_id.nil? && allowed_to?(:take?, @ticket, with: Adminit::TicketPolicy) %>
        <%= render(Core::LinkComponent.new(name: t("views.buttons.take"), url: take_adminit_ticket_path(@ticket), style: :as_button, theme: :create, size: :sm, html_options: {data: {turbo_method: :post}, method: :post})) %>
      <% elsif @ticket.assigned_id == current_account.id && allowed_to?(:leave?, @ticket, with: Adminit::TicketPolicy) %>
        <%= render(Core::LinkComponent.new(name: t("views.buttons.leave"), url: leave_adminit_ticket_path(@ticket), style: :as_button, theme: :delete, size: :sm, html_options: {data: {turbo_method: :post}, method: :post})) %>
      <% end %>

      <% if allowed_to?(:finish?, @ticket, with: Adminit::TicketPolicy) %>
        <%= render(Core::LinkComponent.new(name: t("views.buttons.finish"), url: finish_adminit_ticket_path(@ticket), style: :as_button, theme: :create, size: :sm, html_options: {data: {turbo_method: :post, turbo_confirm: t("views.shared.are_you_sure")}, method: :post})) %>
      <% end %>

      <% if allowed_to?(:reopen?, @ticket, with: Adminit::TicketPolicy) %>
        <%= render(Core::LinkComponent.new(name: t("views.buttons.reopen"), url: reopen_adminit_ticket_path(@ticket), style: :as_button, theme: :edit, size: :sm, html_options: {data: {turbo_method: :post, turbo_confirm: t("adminit.tickets.reopen_confirm")}, method: :post})) %>
      <% end %>

      <% if allowed_to?(:accept_reopen?, @ticket, with: Adminit::TicketPolicy) %>
        <%= render(Core::LinkComponent.new(name: t("views.buttons.accept_reopen"), url: accept_reopen_adminit_ticket_path(@ticket), style: :as_button, theme: :create, size: :sm, html_options: {data: {turbo_method: :post}, method: :post})) %>
        <%= render(Core::LinkComponent.new(name: t("views.buttons.reject_reopen"), url: reject_reopen_adminit_ticket_path(@ticket), style: :as_button, theme: :delete, size: :sm, html_options: {data: {turbo_frame: "modal"}})) %>
      <% end %>
    </div>
  </div>

  <%= turbo_stream_from dom_id @ticket, "admin" %>
  <%= render "adminit/tickets/ticket", ticket: @ticket %>
</div>
