<nav class="opacity-0 flex invisible group-hover/drawer:visible group-hover/drawer:opacity-100 transition-opacity easy-in-out duration-300 flex-col w-full px-4">
  <% link_style = "flex gap-2 items-center p-3 hover:cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-600 rounded-sm w-full group/link" %>
  <% icon_style = "h-8 text-gray-500 dark:text-gray-400 group-hover/link:text-gray-900 dark:group-hover/link:text-blue-500" %>

  <% if allowed_to? :manage?, with: Adminit::AccountPolicy %>
    <%= render(Core::LinkComponent.new(url: adminit_accounts_path, options: {class: link_style, custom_style: {style: :no_style}})) do %>
      <%= icon "adminit/accounts", {classes: icon_style} %>
      <span class="opacity-100 text-gray-600 dark:text-white ml-2 text-md group-hover/drawer:opacity-100 group-hover/drawer:transition-opacity">Accounts</span>
    <% end %>
  <% end %>

  <% if allowed_to? :manage?, with: Adminit::PermissionPolicy %>
    <%= render(Core::LinkComponent.new(url: adminit_permissions_path, options: {class: link_style, custom_style: {style: :no_style}})) do %>
      <%= icon "adminit/permissions", {classes: icon_style} %>
      <span class="opacity-100 text-gray-600 dark:text-white ml-2 text-md group-hover/drawer:opacity-100 group-hover/drawer:transition-opacity">Permissions</span>
    <% end %>
  <% end %>

  <% if allowed_to? :manage?, with: Adminit::RolePolicy %>
    <%= render(Core::LinkComponent.new(url: adminit_roles_path, options: {class: link_style, custom_style: {style: :no_style}})) do %>
      <%= icon "adminit/roles", {classes: icon_style} %>
      <span class="opacity-100 text-gray-600 dark:text-white ml-2 text-md group-hover/drawer:opacity-100 group-hover/drawer:transition-opacity">Roles</span>
    <% end %>
  <% end %>

  <% if allowed_to? :manage?, with: Adminit::TicketPolicy %>
    <%= render(Core::LinkComponent.new(url: adminit_tickets_path, options: {class: link_style, custom_style: {style: :no_style}})) do %>
      <%= icon "adminit/tickets", {classes: icon_style} %>
      <span class="opacity-100 text-gray-600 dark:text-white ml-2 text-md group-hover/drawer:opacity-100 group-hover/drawer:transition-opacity">Tickets</span>
    <% end %>
  <% end %>
    <%= render(Core::LinkComponent.new(url: rodauth.logout_path, options: {class: link_style, custom_style: {style: :no_style}, data: {turbo_prefetch: "false", turbo_method: "post"}, method: :post})) do %>
      <%= icon "logout", {classes: "h-8 text-gray-500 dark:text-gray-400 group-hover/link:text-gray-900 dark:group-hover/link:text-blue-500"} %>
      <span class="opacity-100 text-gray-600 dark:text-white ml-2 text-md group-hover/drawer:opacity-100 group-hover/drawer:transition-opacity">Logout</span>
    <% end %>

</nav>
