<%= form_with(model: announcement, url: announcement.persisted? ? adminit_announcement_path(announcement) : adminit_announcements_path,
      data: {turbo: true}, class: "space-y-4") do |form| %>
  <% if announcement.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>
      <ul>
        <% announcement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :reference, {autofocus: true, required: true, placeholder: " ", autocomplete: "off", class: "w-full"} %>
  <%= form.text_field :title, {placeholder: " ", autocomplete: "title", class: "w-full"} %>
  <div>
    <%= form.label :rich_body, "Content", class: "block text-sm font-medium mb-2" %>
    <%= form.rich_text_area :rich_body %>
  </div>
  <%= form.date_time :scheduled_at, disabled: !announcement.scheduled_at_editable? %>
  <% if !announcement.scheduled_at_editable? %>
    <p class="text-sm text-gray-500 mt-1">Scheduled time cannot be changed once the announcement is scheduled or published.</p>
  <% end %>
  <div class="mt-6">
    <%= form.button "Save Draft", {theme: :create, fullw: true} %>
  </div>
<% end %>
