<div class="w-full">
  <div class="flex justify-between items-center pb-2">
    <%= link_to "Back to Announcements", adminit_announcements_path, class: "text-indigo-500" %>
    <div class="flex gap-2 items-center px-4">
      <% if @announcement.draft? %>
        <%= render(Core::LinkComponent.new(name: "Publish", url: publish_adminit_announcement_path(@announcement),
            options: {method: :post, data: {turbo: true, turbo_method: :post}, custom_style: {style: :as_button, theme: :edit, size: :sm}})) %>
        <%= render(Core::LinkComponent.new(name: "Delete", url: adminit_announcement_path(@announcement),
            options: {custom_style: {style: :as_button, theme: :delete, size: :sm}, method: :delete,
              data: {turbo: true, turbo_method: :delete, turbo_confirm: "Are you sure?"}})) %>
      <% end %>
      <% if @announcement.scheduled? %>
        <%= render(Core::LinkComponent.new(name: "Stop Publish", url: draft_adminit_announcement_path(@announcement),
            options: {method: :post, data: {turbo: true, turbo_method: :post}, custom_style: {style: :as_button, theme: :delete, size: :sm}})) %>
      <% end %> 
      <% unless @announcement.published? %>
        <%= render(Core::LinkComponent.new(name: "Edit", url: edit_adminit_announcement_path(@announcement),
            options: {data: {turbo_frame: "modal"}, custom_style: {style: :as_button, theme: :edit, size: :sm}})) %>
      <% end %>
    </div>
  </div>
  <%= render "adminit/announcements/announcement", announcement: @announcement %>
</div>
