<%= render Settings::LayoutComponent.new(active_section: :password) do %>
  <%= render(Core::CardComponent.new(classes: "mx-auto")) do %>
    <%= form_with url: rodauth.change_password_path, method: :post, data: {turbo: false}, class: "mx-auto space-y-4" do |form| %>
      <% if rodauth.change_password_requires_password? %>
        <%= form.password_field rodauth.password_param, {required: true, placeholder: " ", value: "", id: "password", autofocus: true, autocomplete: rodauth.password_field_autocomplete_value, aria: ({invalid: true, describedby: "password_error_message"} if rodauth.field_error(rodauth.password_param))} %>
        <%= error_tag(rodauth.field_error(rodauth.password_param), id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
      <% end %>
      <%= form.password_field rodauth.new_password_param, {required: true, placeholder: " ", value: "", id: "new-password", autofocus: true, autocomplete: "new-password", aria: ({invalid: true, describedby: "new-password_error_message"} if rodauth.field_error(rodauth.new_password_param))} %>
      <%= error_tag(rodauth.field_error(rodauth.new_password_param), id: "new-password_error_message") if rodauth.field_error(rodauth.new_password_param) %>
      <% if rodauth.require_password_confirmation? %>
        <%= form.password_field rodauth.password_confirm_param, {id: "password-confirm", required: true, placeholder: " ", autocomplete: "new-password", value: "", aria: ({invalid: true, describedby: "password-confirm_error_message"} if rodauth.field_error(rodauth.password_confirm_param))} %>
        <%= error_tag(rodauth.field_error(rodauth.password_confirm_param), id: "password-confirm_error_message") if rodauth.field_error(rodauth.password_confirm_param) %>
      <% end %>
      <div class="mt-6">
        <%= form.button "Change Password", {fullw: true} %>
      </div>
    <% end %>
  <% end %>
<% end %>
