<%= render(Core::CardComponent.new) do %>
  <%= form_with url: rodauth.reset_password_path, method: :post, data: {turbo: false}, class: "w-full max-w-sm" do |form| %>
    <%= form.labeled :password, "Password"  do %>
      <%= form.password_field rodauth.password_param, {required: true, placeholder: " ", value: "", id: "password", autofocus: true, autocomplete: rodauth.password_field_autocomplete_value, aria: ({invalid: true, describedby: "password_error_message"} if rodauth.field_error(rodauth.password_param))} %>
    <% end %>
    <%= error_tag(rodauth.field_error(rodauth.password_param), id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
    <% if rodauth.require_password_confirmation? %>
      <%= form.labeled :password_confirm, "Password Confirm"  do %>
        <%= form.password_field "password-confirm", {id: "password-confirm", required: true, placeholder: " ", autocomplete: "new-password", value: "", aria: ({invalid: true, describedby: "password-confirm_error_message"} if rodauth.field_error(rodauth.password_confirm_param))} %>
      <% end %>
      <%= error_tag(rodauth.field_error(rodauth.password_confirm_param), id: "password-confirm_error_message") if rodauth.field_error(rodauth.password_confirm_param) %>
    <% end %>
    <div class="mt-6">
      <%= form.button "Reset Password", {fullw: true} %>
    </div>
  <% end %>
<% end %>
