<%= render(Core::CardComponent.new) do %>
  <%= form_with url: rodauth.verify_account_resend_path, method: :post, data: {turbo: false}, class: "w-full max-w-sm" do |form| %>
    <div class="mb-4 text-sm">
      <%== rodauth.verify_account_resend_explanatory_text %>
    </div>
    <% if params[rodauth.login_param] %>
      <%= form.hidden_field rodauth.login_param, value: params[rodauth.login_param] %>
    <% else %>
      <%= form.labeled :login, "Email"  do %>
        <%= form.text_field :email, {required: true, autofocus: true, placeholder: " ", autocomplete: "email", value: params[rodauth.login_param], aria: ({invalid: true, describedby: "login_error_message"} if rodauth.field_error(rodauth.login_param))} %>
      <% end %>
      <%= error_tag(rodauth.field_error(rodauth.login_param), id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
    <% end %>
    <div class="mt-6">
      <%= form.button "Send Verification again", {fullw: true} %>
    </div>
  <% end %>
<% end %>
