<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pro Rails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= action_cable_with_jwt_meta_tag(current_user: current_account) if current_account %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Plus+Jakarta+Sans:wght@400;600;700&family=Space+Grotesk:wght@400;600;700&family=Outfit:wght@400;600;700&family=Bricolage+Grotesque:wght@400;600;700&family=Google+Sans+Code:wght@400;600;700&family=Orbitron:wght@400;600;700;900&family=Manrope:wght@400;600;700&display=swap" rel="stylesheet">
    <% if current_account %>
      <meta name="current-user-id" content="<%= current_account.id %>">
    <% end %>
  </head>
  <body class="antialiased bg-default" data-controller="closer">
    <%= render(Core::SidebarComponent.new(open: false, title: "RailsApp | Menu")) do %>
      <%= render "partials/navigation" %>
    <% end %>
    <div class="flex pt-4 pr-4 justify-end">
      <%= turbo_frame_tag :main_notifications, src: user_notifications_path, loading: :lazy, data: { turbo_permanent: true } do %>
      <div class="relative p-2.5 rounded-full transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-primary-200 hover:outline-none hover:ring-2 hover:ring-primary-200 text-primary-400" aria-label="Notifications" aria-expanded="false">
      <%= icon("bell", classes: "w-7 h-7 animate-pulse") %>
      <span class="absolute top-0 right-0 flex h-6 w-6">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-primary-400 opacity-50"></span>
      </span>
  </div>
      <% end %>
    </div>
    <main class="grow pt-16 px-8 overflow-x-scroll" role="main">
      <%= turbo_frame_tag "modal", target: "_top" %>
      <%= yield %>
    </main>
    <%= render "shared/flashes" %>
   </body>
</html>
